<div class="container">

<h1><%= "Let's Learn some Words"%></h1>
<h2><%= "Click on a word to learn more"%></h2>
<a href='/items/duck'><h3><%= "Duck" %></h3></a>
<a href='/items/dog'><h3><%= "Dog" %></h3></a>
<a href='/items/house'><h3><%= "House" %></h3></a>
<a href='/items/banana'><h3><%= "Banana" %></h3></a>
<a href='/items/lizard'><h3><%= "Lizard" %></h3></a>

<% @list.each do |item| %>
  <p><% item.word %></p>
  <a href='/new/<%= item.id %>'><%= item.word %></a>
<% end %>

<form action="/" method="post">
  <div class="form-group">
    <label for="food">What word would you like to learn about?</label>
    <input type="text" class="form-control" name="new_word" id="new_word">
  </div>
  <button type="submit" class="btn btn-primary" >Add Word</button>
</form>

</div>
