<h2>The word is: <%= @word.word%> </h2>
<h2>This is a <%= @word.word%></h2>
<h3>Other definitions of <%= @word.word%> </h3>
<p><%= @definition%></p>


<form action="/word/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="definition">Enter your own definition for <%= @word.word%></label>
    <input type="text" class="form-control" name="definition" id="definition">
  </div>
  <button type="submit" class="btn btn-primary" >Add Definition</button>
</form>
<!-- <form action="/define" method="post">
  <div class="form-group">
    <label for="definition">Enter your own definition for <%= @word%></label>
    <input type="text" class="form-control" name="definition" id="definition">
  </div>
  <button type="submit" class="btn btn-primary" >Add Definition</button>
</form> -->

<%= @image %>

<a href='/'>Return to home page</a>
<h4>output page</h4>
